/*Global setting*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* Index*/

body{
    /* margin: 0 auto;
    max-width: 1200px; */
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
    background: url("../img/carniceria.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    
    
}

.img{
    max-width: 100%;
}






/* HEADER */
.header-banner{
    /* background-image: url("./img/bannerpic.jpg"); */
    display: flex;
    align-items: start;
    justify-content: space-between; 
    /* background-size: cover; */
    background: rgba(168, 167, 167, 0.3);
   
}



.navigation{
    margin-top: 20px;
}

.navigation a:link{
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
}

.navigation a:visited{
    color: bisque;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
}

.navigation a:hover{
    color: darkgreen;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
}

.navigation a:active{
    color: darkblue;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
}

.navigation img{
    filter: invert(100%);
  -webkit-filter: invert(100%);
}
.navigation a{
    padding: 0 10px;
}

.search{
    margin-left: 15px;
}

.header-title{
    margin-left: 10px;
}

.navigation {
    /* background-color: #333; */
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list nav-bar {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media screen and (max-width: 800px) {
    .menu-icon {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        /* background-color: #333; */
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list nav-bar {
        margin: 0;
        text-align: center;
    }

    .menu-icon:hover + .nav-list {
        display: flex;
    }
}


.principal{
    margin-left: 30px;
    font-size: 60px;
    
}

.description{
    font-size: 25px;
}
/* MAIN */
.main-meat{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 30px 0;
    background: rgba(168, 167, 167, 0.3);
}

.ubication-div{
    width: 33%;

}

.identity-div{
    width: 33%;
    
}

/* SECTION */

.title-h3{
    text-align: center;
    font-size: 40px;
    margin: 45px 0;
   
}

.recomended{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(168, 167, 167, 0.3);

}


.recomended div{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-section{
    width: 200px;
    height: 200px;
    opacity: 1;
   
}

.footest{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background: rgba(168, 167, 167, 0.3);
    margin-top: 30px;
}

.footest img{
    filter: invert(100%);
  -webkit-filter: invert(100%);
}

/* contacto css */
/* MAIN contact */

.main-contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 30px 0;
    background: rgba(168, 167, 167, 0.3);
}



.bg-title{
    background: rgba(168, 167, 167, 0.3);

}

.socialtitle{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: start;
    margin-left: 200px;


}

.mediaicon{
    margin: 10px;
}

.socialmedia{
    width: 100%;
    display: list-item;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background: rgba(168, 167, 167, 0.3);
    margin: 20px 0;
}


.socialmedia div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;

    }

    .social-direccion{
       
        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;    
    }
    
    .submitbotom{
        /* background-color: aqua; */
        display: flex;
        align-items: end !important;
        justify-content: space-around !important;
        
        }

    .submitbotom input:hover{
        width: 60px;
        height: 40px;
        object-fit: cover;
        border-radius: 10px;
        transition: all .5s;

    }

    form{
        /* background-color: red; */
        width: 600px;
        height: 300px;
        padding: 10px;
    }

    .form-imput{
        /* background-color: blue; */
        padding: 10px;
        width: 100%;
        display: flex !important; 
        justify-content: space-between !important; 
    }

    .form-imput input{
        width: 50%;
    }
    
    
    
    
    /*Comenzando productos/*
    
    /* Main body*/

    .container-item{
        display: grid !important;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }

    .item{
        border-radius: 10px;
        

    }

    .item:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }

   

    .item img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        transition: all .5s;
        
    }
    .item figure{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.137)
    }


    .item:hover img{
        transform: scale(1.2);
    }


    .info-product{
        padding: 15px 30px;
        line-height: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }

    .price{
        font-size: 18px;
        font-weight: 900;

    }

    .info-product button{
        border: none;
        background: none;
        background-color: black;
        color: #fff;
        padding: 15px 10px;
        cursor: pointer;
        

    }

    @media screen and (max-width: 800px) {
        .container-item{
            grid-template-columns: auto auto;
        }
        
    }

    /*Inicio recomendaciones/*
    
    
    